* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 300px;
}


/* General */
:root {
  --main-bg-color: #14182c;
  --extra-bg-color: #1b213b;
  --main-text-color: #f0f0f0;
  --extra-text-color: #c56479;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding: 0 3%;
  margin: 0 auto;
}


img {
  max-inline-size: 100%;
  block-size: auto;
}


/* Header */
header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 2;
}

header p {
  padding: 0.5em;
  font-size: 1rem;
}

.headerName {
  margin-right: auto;
}



/*    Main    */
/* About */

#about h1 {
  margin-bottom: 20px;
  margin-top: 50px;
  padding-top: 100px;
  line-height: 1.3;
  font-size: 2.5rem;
  background-image: url("./imgs/bgGeo.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: hue 10s infinite;
  -webkit-animation: hue 10s infinite;
}

@keyframes hue {

  0%,
  100% {
    -webkit-filter: hue-rotate(-50deg);
  }

  50% {
    -webkit-filter: hue-rotate(170deg);
  }
}

@-webkit-keyframes hue {

  0%,
  100% {
    -webkit-filter: hue-rotate(-50deg);
  }

  50% {
    -webkit-filter: hue-rotate(170deg);
  }
}

#about p {
  font-size: 1.2rem;
}


/* Techs */
#techs {
  margin-top: 30px;
}



/* Projects */

.cardProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 0.9rem;
  user-select: none;
  text-align: center;
}

.projectName {
  font-weight: 600;
  color: var(--extra-text-color);
}

.imgContainer {
  max-width: 400px;
  position: relative;
  scroll-behavior: smooth;
}

.imgContainer img {
  border-radius: 5px;
}

.imgHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.cardProject:hover .imgHover {
  opacity: 1;
}

.cardProject a {
  color: var(--main-text-color);
  padding: 0 5px;
}

.cardProject a:hover {
  color: var(--extra-text-color);
}



/* Media Queries */
@media(min-width: 500px) {
  .cardProject {
    flex-direction: row;
    text-align: left;
    align-items: stretch;
  }

  .imgContainer {
    margin-right: 10px;
    flex: 6;
  }

  .projectInfo {
    flex: 4;
    display: flex;
    flex-direction: column;
  }

  .projectLinks {
    margin-top: auto;
    padding-bottom: 20px;
  }
}

@media(min-width: 630px) {
  .container {
    width: 600px;
    padding: 0;
  }
}